{% extends 'base.html' %}
{% load static %}
{% block title %}
    Sistema de Coevaluaciones DCC
{% endblock %}
{%  block topbar %}
     <!-- Barra superior -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-5 py-3">
            <a class="navbar-brand" href="home">Sistema de Coevaluaciones DCC</a>
            <!-- Al achicar la pantalla, el menú se oculta y se vuelve desplegable mediante este botón. -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                    <i class="fa fa-navicon"></i>
                </span>
            </button>

            <!-- Menú superior-derecha -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="divider-vertical"></li>
                    <li class="nav-item">
                        <a class="nav-link" href="perfil">{{ nombre }}</a>
                    </li>
                    <li class="divider-vertical"></li>
                    <li class="nav-item">
                        <a class="nav-link" href="login">Cerrar Sesión</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- FIN Barra superior -->
{% endblock %}


{% block content %}
    <div class="container mt-4"> <!-- Contenedor responsivo, se adapta a la pantalla con puntos de quiebre. -->

            <!-- Tablas de resumen -->
            <div class="row">
                <!-- Tabla de coevaluaciones -->
                <div class="col-md-9">
                    <h4 class="d-inline-block mt-1">Últimas Coevaluaciones</h4>

                    <div class="table-wrap table-responsive my-1"> <!-- "Envoltura" de la tabla -->
                        <table class="table table-coeval table-striped table-hover mb-0"> <!-- Tabla -->
                            <!-- Encabezados de tabla (Table Headers) -->
                            <thead class="thead-light">
                                <tr> <!-- Fila (Table Row) -->
                                    <th class="th-fecha">Fecha inicio</th>
                                    <th class="th-titulo">Nombre</th>
                                    <th class="th-curso">Curso</th>
                                    <th class="th-semestre">Sem</th>
                                    <th class="th-fecha">Fecha límite</th>
                                    <th class="th-estado">Estado</th>
                                    <th class="th-iconos"></th>
                                </tr>
                            </thead>

                            <!-- Cuerpo de tabla (Table Data) -->
                            <tbody>
                            {% for coev in coevs %}
                                <tr class="tr-pendiente"> <!-- Fila destacada como Pendiente -->
                                    <!-- Fecha de inicio -->
                                    <td class="td-fecha">
                                        {{ coev.fecha_inicio }}
                                    </td>
                                    <!-- Título de coevaluación -->
                                    <td>{{ coev.nombre }}</td>
                                    <!-- Curso, con ícono de rol, nombre y código -->
                                    <td class="td-curso-full">
                                        <div class="cargos cargos-alumno tooltip-custom">
                                            <span class="tooltiptext"></span>
                                        </div>
                                        <span class="curso-nombre">{% for curso in cursos %}
                                            {% if curso.id == coev.curso.id %} {{ curso.nombre }} {% endif %}
                                        {%  endfor %}</span>
                                        <br>
                                        <span class="curso-codigo">{% for curso in cursos %}
                                            {% if curso.id == coev.curso.id %} {{ curso.codigo }}-{{ curso.seccion }} {% endif %}
                                        {%  endfor %}</span>
                                    </td>
                                    <!-- Semestre -->
                                    <td>{% for curso in cursos %}
                                            {% if curso.id == coev.curso.id %} {{ curso.año }}-{{ curso.semestre }} {% endif %}
                                        {%  endfor %}</td>
                                    <!-- Fecha de término -->
                                    <td class="td-fecha">
                                        {{ coev.fecha_termino }}
                                    </td>
                                    <!-- Estado -->
                                    <td>{{ coev.estado }}</td>
                                    <!-- Ícono de acción (responder) -->
                                    <td class="td-icon">
                                        <form action="{% url 'ficha_coevaluacion' %}" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="coev_nombre" value="{{ coev.nombre }}">
                                            {% for curso in cursos %}
                                            {% if curso.id == coev.curso.id %}
                                                <input type="hidden" name="curso_codigo" value="{{ curso.codigo }}">
                                                <input type="hidden" name="curso_seccion" value="{{ curso.seccion }}">
                                                <input type="hidden" name="curso_ano" value="{{ curso.año }}">
                                                <input type="hidden" name="curso_semestre" value="{{ curso.semestre }}">
                                            {% endif %}
                                            {%  endfor %}

                                            <input type="image" class="clickable-icon answer-icon wiggle" href="fichaCoevaluacion" src="{% static 'icon/answer-icon.png' %}" title="Responder coevaluación" alt="Responder coevaluación" width="28" height="28">
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}

                                <!-- Filas vacías, placeholder -->
                                <tr style="height: 38px;"><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                                <tr style="height: 38px;"><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                                <tr style="height: 38px;"><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Tabla de cursos -->
                <div class="col-md-3 mb-3">
                    <h4 class="d-inline-block mt-1">Tus Cursos</h4>

                    <div class="table-wrap table-responsive my-1">
                        <table class="table table-cursos table-striped table-hover mb-0">
                            <!-- Encabezados de tabla (Table Headers) -->
                            <thead class="thead-light">
                                <tr>
                                    <th>Curso</th>
                                    <th class="th-semestre">Sem</th>
                                </tr>
                            </thead>
                            <!-- Cuerpo de tabla (Table Data) -->
                            <tbody>
                                {% for curso in cursos %}
                                    <tr>
                                    <td class="td-curso-full">
                                        <div class="cargos cargos-alumno tooltip-custom">
                                            <span class="tooltiptext"></span>
                                        </div>
                                        <span class="curso-nombre">{{ curso.nombre }}</span>
                                        <br>
                                        <span class="curso-codigo">{{ curso.codigo }}-{{ curso.seccion }}</span>
                                    </td>
                                    <td>{{ curso.año }}-{{ curso.semestre }}</td>
                                    </tr>
                                {% endfor %}
                                <!--
                                <tr>
                                    <td class="td-curso-full">
                                        <div class="cargos cargos-alumno tooltip-custom">
                                            <span class="tooltiptext"></span>
                                        </div>
                                        <span class="curso-nombre">Proyecto de Software</span>
                                        <br>
                                        <span class="curso-codigo">CC5402-1</span>
                                    </td>
                                    <td>2018-2</td>
                                </tr>
                                -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
{% endblock %}